In [9]:
import pandas as pd
import numpy as np

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
PATH='/content/drive/MyDrive/indian-cars-dataset'
df=pd.read_csv(f'{PATH}/annotations.csv')

In [12]:
df.head()

      image_name  image_width  image_height  ...     top_y  bottom_x  bottom_y
0  licensed_car0          806           466  ...  0.587983  0.868486  0.688841
1  licensed_car1          494           449  ...  0.850780  0.582996  1.000000
2  licensed_car2          500           314  ...  0.697452  0.230000  0.828025
3  licensed_car3          500           469  ...  0.667377  0.718000  0.765458
4  licensed_car4         1001           563  ...  0.390764  0.865135  0.984014

[5 rows x 7 columns]

In [13]:
images=[]

for index,row in df.iterrows():
    
    #centre X
    c_x=(row['top_x']+row['bottom_x'])/2
    
    #centre Y
    c_y=(row['top_y']+row['bottom_y'])/2
    
    #width
    w=row['bottom_x']-row['top_x']
    
    #height
    h=row['bottom_y']-row['top_y']
    
    image_name=row['image_name']
    
    image_path=f'{PATH}/images/{image_name}.jpeg'
    label_path=f'{PATH}/labels/{image_name}.txt'
    
    #adding image path to list
    images.append(image_path)
    
    #creating label text file
    f=open(label_path,'w')
    
    #writing values in the yolov5 format
    f.write(f'0 {c_x} {c_y} {w} {h}')
    
    f.close()

In [19]:
#Total images=236
#splitting dataset into 75:25 ratio
train=images[0:178]
val=images[178:]

In [20]:
#method to write list to a text file 
def write_list_to_txt(lst,file_name):
    f=open(file_name,'w')
    for r in lst:
        f.write(r+"\n")
    f.close()

In [21]:
write_list_to_txt(train,f'{PATH}/train.txt')

write_list_to_txt(val,f'{PATH}/val.txt')