In [21]:
import pandas as pd
import numpy as np

In [22]:
PATH='C:/Users/HP/Desktop/ML/Number plate recogniton system/indian-cars-dataset'
df=pd.read_csv(f'{PATH}/annotations.csv')

In [23]:
df.head()

,image_name,image_width,image_height,top_x,top_y,bottom_x,bottom_y
0,licensed_car0,806,466,0.722084,0.587983,0.868486,0.688841
1,licensed_car1,494,449,0.161943,0.850780,0.582996,1.000000
2,licensed_car2,500,314,0.082000,0.697452,0.230000,0.828025
3,licensed_car3,500,469,0.434000,0.667377,0.718000,0.765458
4,licensed_car4,1001,563,0.208791,0.390764,0.865135,0.984014

In [26]:
for index,row in df.iterrows():
    
    #centre X
    c_x=(row['top_x']+row['bottom_x'])/2
    
    #centre Y
    c_y=(row['top_y']+row['bottom_y'])/2
    
    #width
    w=row['bottom_x']-row['top_x']
    
    #height
    h=row['bottom_y']-row['top_y']
    
    image_name=row['image_name']
    
    #creating label text file
    f=open(f'{PATH}/labels/{image_name}.txt','w')
    
    #writing values in the yolov5 format
    f.write(f'{c_x} {c_y} {w} {h}')
    
    f.close()